body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.brandlogo {
    width: 25%;
}

.landing {
    background-image: url('../photo/portfolio_pcVersion_landingbgp.jpg');
    min-height: 100%;
    width: 100%;
    margin: 0;

    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    height: 100%;
    text-align: center;
    color: white;
    width: 50%;
    margin: 14% auto;
    background: #111;
    opacity: 1;
    -webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: fadeIn;
    animation-duration: 2s;
}

@-webkit-keyframes fadeIn {
    from {margin: 10% auto; opacity: 0;}
    to {margin: 14% auto; opacity: 1;}
  }
  
  /* Standard syntax */
  @keyframes fadeIn {
    from {margin: 10% auto; opacity: 0;}
    to {margin: 14% auto; opacity: 1;}
  }

.captionMsgUp, .captionMsgLow{
    font-size: 4.5rem;
    display: block;
    height: 30%;
    font-weight: 700;
    font-family: 'Fjalla One', sans-serif;
}

/*.navbar-nav {
    width: 40%;
    -webkit-animation-name: fadeLeft;
    -webkit-animation-duration: 2s; 
    animation-name: fadeLeft;
    animation-duration: 2s;
}

@-webkit-keyframes fadeLeft {
    from {width: 0%; opacity: 0;}
    to {width: 40%; opacity: 1;}
  }
  

  @keyframes fadeLeft {
    from {width: 0%; opacity: 0;}
    to {width: 40%; opacity: 1;}
  }*/

.captionMsgUp>p, .captionMsgLow>p{
    margin: 0;
}

.captionMsgUp>p{
    border-bottom: 2px white solid;
}

.captionMsgUp {
    padding-top: 0%; 
}

.container {
    max-width: 95%;
}

/* .navbar-nav {
    margin-left: 60%;
} */

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: 'Fjalla One', sans-serif;
}

/* .nav-item {
    text-align: center;
    width: 70%;
    padding-right: 6%;
    font-family: 'Fjalla One', sans-serif;
} */

.nav-item {
    -webkit-animation-name: fadeLeft; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: fadeLeft;
    animation-duration: 5s;
}

@-webkit-keyframes fadeLeft {
    from {width: 0%; opacity: 0;}
    to {width: 100%; opacity: 1;}
  }
  
  /* Standard syntax */
  @keyframes fadeLeft {
    from {width: 0%; opacity: 0;}
    to {width: 100%; opacity: 1;}
  }

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    font-family: 'Fjalla One', sans-serif;
}

.skillset {
    margin-top: -9%;
    width: 100%;
    opacity: 0.8;
}

.skillset>.row>.col-md-6>span {
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    padding: 0 0 3% 0;
    font-size: 3rem;
}

.skillset>.row>.col-md-6>div>.introduction {
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    margin: 17% 0 0 0;
    font-size: 1.2rem;
    line-height: 50px;
    font-weight: 100;
}

.far {
    font-size: 3rem;
    text-align: center;
    padding-left: 2%;
}

.skillset>.row>.col-md-6 {
    padding: 0 0 0 5%;
}

hr {
    display: none;
}

/* Meter Bar styling */

.meterbar {
    margin: 2%;
    font-size: 1.5rem;
    font-family: 'Fjalla One', sans-serif;
}

meter {
    width: 80%;
    height: 25px;
    border-radius: 3px;
}

meter::-webkit-meter-bar {
    background-color: whiteSmoke;
    border-radius: 35px;
}

meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
    border-radius: 35px;
}

.htmlbar::-webkit-meter-optimum-value,
        .cssbar::-webkit-meter-optimum-value,
        .jsbar::-webkit-meter-optimum-value {
            background: rgb(16, 123, 185);
            transition: background 0.6s;
        }

        .jsbar::-webkit-meter-suboptimum-value,
        .htmlbar::-webkit-meter-suboptimum-value,
        .cssbar::-webkit-meter-suboptimum-value {
            background: rgb(16, 123, 185);
            transition: background 0.6s;
        }

        .cssbar::-webkit-meter-even-less-good-value,
        .htmlbar::-webkit-meter-even-less-good-value,
        .jsbar::-webkit-meter-even-less-good-value {
            background: rgb(16, 123, 185);
            transition: background 0.6s;
        }

/* Meter Bar styling */

.ebackground {
    background-image: url('../photo/education_background_pc.png');
    min-height: 70%;
    width: 100%;

    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.experience {
    background-image: url('../photo/working_exp_pc.jpg');
    min-height: 70%;
    width: 100%;

    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-inner > .item {
    height: 400px;
 }

.project {
    background-image: url('https://cdn.lynda.com/static/landing/images/hero/ProjectScheduler_1200x630-1503436375769.jpg');
    min-height: 70%;
    width: 100%;

    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ebackground>div, .experience>div, .project>div{
    margin: 8% auto;
    width: 350px;
    padding: 11% 0 0 0;
}
.ebackground>div>p, .experience>div>p, .project>div>p{
    font-size: 4.5rem;
    display: block;
    height: 30%;
    font-weight: 700;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    background: rgb(104, 103, 103);
    width: 350px;
    text-align: center;
}

ul{
    margin: 0;
}

.col-md-6>li {
    padding: 2% 0;
}

.newcontainer{
    max-width: 85%;
    margin: 0 auto;
}

.weminelogo, .hotellogo {
    width: 460px;
    margin-left: 14%;
    margin-top: -5%;
}

.three, .four{
    margin-top: 7%;
}

.vistralogo {
    margin-left: 18%;
}

footer {
    background: black;
    width: 100%;
    height: 60px;
    margin-top: 5%;
}

footer>div{
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    float: right;
    margin-top: 1%;
}

footer>div>a, footer>div>a:hover {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 0.5% 15%;
}

.carousel-inner {
    position: relative;
    width: 51%;
    height: 430px;
    margin: 0 auto;
    overflow: hidden;
}

/* .carousel-item-1-image {
    background-image: url('./src/photo/tictactoe.png');
    height: 430px;
} */

.carousel-control-next {
    width: 3%;
    height: 15%;
    margin: 10% 25% 0 0;
    background: lightgray;
}

.carousel-control-prev {
    width: 3%;
    height: 15%;
    margin: 10% 0 0 25%;
    background: lightgray;
}

.carousel-inner>div>img{
    opacity: 1;
}

.carousel-inner>div>div>h5{
    color: black;
    margin: 0 0 15% 57%;
    font-size: 35px;
    width: 50%;
}

/* .carousel-inner>div>div>p{
    color: black;
    margin: 0 0 9% 50%;
    font-size: 1.2rem;
    width: 61%;
} */

.carousel-inner>div>div>button{
    margin: 0 0 13% 64%;
}

.carousel-inner>div:nth-of-type(2)>div>h5{
    color: black;
    margin: 0 0 13% 45%;
    font-size: 30px;
    width: 73%;
    color: white;
}

.carousel-inner>div:nth-of-type(2)>div>button{
    margin: 0 0 9% 64%;
}

.carousel-inner>div>div>button>a{
    color: white;
    text-decoration: none;
}


/*Media Query Starts Here*/

@media screen and (max-width: 1401px){
    .carousel-inner>div:nth-of-type(2)>div>h5{
        color: black;
        margin: 0 0 9% 45%;
        font-size: 30px;
        width: 73%;
        color: white;
    }
}

@media screen and (max-width: 576px){
    
    .landing {
        background-image: url('../photo/portfolio_mobileVersion_landingbgp.jpg');
        min-height: 100%;
        margin: 0;

        position: relative;
        opacity: 1;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .ebackground {
        background-image: url('../photo/education_background_mobile.jpg');
        min-height: 100%;
        width: 100%;

        position: relative;
        opacity: 1;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .experience {
        background-image: url('../photo/working_exp_mobile.jpg');
        min-height: 100%;
        width: 100%;

        position: relative;
        opacity: 1;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .project {
        background-image: url('https://ehoprojekt.com/wp-content/uploads/2018/03/damask-1.png');
        min-height: 100%;
        width: 100%;

        position: relative;
        opacity: 1;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .navbar-brand {
        width: 59%;
    }

    .fa, .fas {
        color: white;
    }
    
    .navbar-nav {
    margin-left: 0;
}

    .navbar-light .navbar-toggler {
        border-color: white;
    }

    #navbarNavDropdown {
        margin-left: 53%;
        margin-top: -13%;
    }
    

    #navbarNavDropdown>ul>li>a {
        float: left;
    }

    .caption {
        height: 100%;
        text-align: center;
        color: white;
        width: 90%;
        margin: 30% auto;
        background: rgb(68,66,66);
        -webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
        animation-name: fadeIn;
        animation-duration: 2s;
    }

    @-webkit-keyframes fadeIn {
        from {margin: 26% auto; opacity: 0;}
        to {margin: 30% auto; opacity: 1;}
      }
      
      /* Standard syntax */
      @keyframes fadeIn {
        from {margin: 26% auto; opacity: 0;}
        to {margin: 30% auto; opacity: 1;}
      }
    
    .captionMsgUp, .captionMsgLow{
        font-size: 2rem;
        display: block;
        height: 30%;
        font-weight: 700;
        font-family: 'Fjalla One', sans-serif;
    }
    
    .captionMsgUp>p, .captionMsgLow>p{
        margin: 0;
    }
    
    .captionMsgUp>p{
        border-bottom: 2px white solid;
    }
    
    .captionMsgUp {
        padding-top: 0%; 
    }
     .ebackground>div>p, .experience>div>p, .project>div>p{
        font-size: 3.5rem;
        display: block;
        height: 30%;
        font-weight: 400;
        font-family: 'Fjalla One', sans-serif;
        color: white;
        background: rgb(104, 103, 103);
        width: 350px;
        margin-top: 20%;
        text-align: center;
    }
    
    .ebackground>div, .experience>div, .project>div{
        padding: 22% 0 0 0;
    }

    .dbslogo, .vistralogo, .weminelogo, .hotellogo {
        margin: 0;
        width: 100%;
    }

    .skillset>.row>.col-md-6>div>.introduction {
        padding-right: 5%;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    hr {
        display: block;
        border: 1px solid gray;
        width: 93%;
        margin: 0 0 5% 0;
    }
    
      br {
        display: none;
    }
    
    meter {
        width: 90%;
        height: 25px;
        border-radius: 3px;
    }

    footer>div{
        width: 45%;
        margin-top: 5%;
    }

    footer>div>a, footer>div>a:hover {
        font-size: 1rem;
        text-decoration: none;
        color: white;
        border: 2px solid white;
        border-radius: 25px;
        padding: 0.5% 15%;
    }
    
    .card {
        border: none;
        margin-top: 15%;
    }
    
.carousel-inner {
    position: relative;
    width: 100%;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-control-next {
    width: 8%;
    height: 10%;
    margin: 54% 0 0 0;
    background: lightgray;
}

.carousel-control-prev {
    width: 8%;
    height: 10%;
    margin: 54% 0 0 0;
    background: lightgray;
}

.carousel-inner>div>img{
    height: 480px;
}

.carousel-inner>div>div>h5{
    color: black;
    margin: -17% auto;
    font-size: 30px;
    width: 40%;
}


.carousel-inner>div>div>button{
    margin: 22% auto;
}

.carousel-inner>div:nth-of-type(2)>div>h5{
    margin: 0 0 -11% -26%;
    font-size: 1.8rem;
    width: 150%;
    color: white;
}

.carousel-inner>div:nth-of-type(2)>div>button{
    margin: 22% auto;
}

.carousel-inner>div>div>button>a{
    color: white;
    text-decoration: none;
}

.carousel-caption {
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    width: 50%;
    margin: -13% auto;
}

.displayInPc {
    display: none;
}

.displayInMobile {
    display: block;
}

}





